body    {
    
    
    border-color: #eae7e6;   

}


main header  {
    display: block;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    section    {
    background-color: #ffffff;
    border-color: #dddddd;    
    display: block;
    padding: 10px;
    margin: 10px;
    text-align :center;
}


footer  {  
    background-color: lightslategray;

}

.whitetext {
    color:whitesmoke;
}

.portext {
    color: dimgrey ;
    font-size: 10px
}

/* .LI-profile-badge {
    margin-left: 7%;
    margin-top:5%;
} */


/* Custom, iPhone 6 & 7 *  */
 @media only screen and (min-width : 375px) { 

	.aboutcontainer {
        margin-left: 2%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 1%
    }
    .cardcontainer{
        margin-left:3%
    }
    .rescontainer{
        margin-left:12%;
        margin-bottom:5%;
    }
    .width{
        width: 375px;
    }
    .LI-profile-badge{
        margin-left:7%;
    }

    .aboutlabel{
        margin-left:10%;  
    }

    
 }

 /* Custom, iPhone 6 & 7 *  */
@media only screen and (min-width : 625px) { 

	.aboutcontainer {
        margin-left: 2%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 25%
    }
    .cardcontainer {
        margin-left:18%
    }
    .rescontainer{
        margin-left:10%;
        margin-bottom:5%;
    }
    .width{
        width: 550px;
    }
    .LI-profile-badge{
        margin-left:15%;
    }
    .aboutlabel{
        margin-left:30%;  
    }


}  

/* Custom, iPhone 6 & 7 *  */
@media only screen and (min-width : 770px) { 

	.aboutcontainer {
        margin-left: 3%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 33%
    }
    .cardcontainer {
        margin-left:23%
    }
    .rescontainer{
        margin-left:10%;
        margin-bottom:5%;
    }
    .width{
        width: 620px;
    }
    .LI-profile-badge{
        margin-left:20%;
    }
    .aboutlabel{
        margin-left:22%;  
    }
}  

/* Custom, iPhone 6 & 7 *  */
@media only screen and (min-width : 950px) { 

	.aboutcontainer {
        margin-left: 3%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 36%
    }
    .cardcontainer {
        margin-left:28%
    }
    .rescontainer{
        margin-left:10%;
        margin-bottom:5%;
    }
    .width{
        width: 800px;
    }
    .LI-profile-badge{
        margin-left:30%;
    }
    .aboutlabel{
        margin-left:18%;  
    }
}  

/* Custom, iPhone 6 & 7 *  */
@media only screen and (min-width : 1200px) { 

	.aboutcontainer {
        margin-left: 3%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 38%
    }
    .cardcontainer {
        margin-left:33%
    }
    .rescontainer{
        margin-left:20%;
        margin-bottom:5%;   
    }
    .width{
        width: 1000px;
    }
    .LI-profile-badge{
        margin-left:30%;
    }
    .aboutlabel{
        margin-left:15%;  
    }
}  

/* Custom, iPhone 6 & 7 *  */
@media only screen and (min-width : 1680px) { 

	.aboutcontainer {
        margin-left: 2%;
        margin-bottom:10%;
    }
    .portcontainer {
        margin-left: 38%
    }
    .cardcontainer {
        margin-left:38%
    }
    .rescontainer{
        margin-left:15%;
        margin-bottom:20%;
    }
    .width{
        width: 1400px;
    }
    .LI-profile-badge{
        margin-left:35%;
    }
    .bio{
        margin-left:50%;
    }
        
}  